// Navigation Styles here

    nav {
    justify-content: space-around;
    align-self: center;
    
        a {
            text-decoration: none;
            color: @shark;
            font-size: 1.6rem;
            margin: 20px;
            
        
        &:hover {
            text-decoration: underline;
            color: @shark;
        }
    } //a ends
} //nav ends
