// Navigation Styles here

    nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;  
    
        a {
            text-decoration: none;
            color: black;
            font-size: 2rem;
            align-items: flex-end;
        
        &:hover {
            text-decoration: underline;
            color: black;
        }
    } //a ends
} //nav ends
